{% extends "layouts/base.html" %}

{% block title %} Helpline {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title" style="text-align: center;">Helpline and Support</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <tbody>
                                <tr>
                                    <td>
                                        <Strong>1. Reproductive Rights Advocacy Alliance Malaysia (RRAAM)</Strong><br>
                                        Hotline: +6012-477-2551<br>
                                        Website: <a href="https://www.rraam.org/" target="_blank">rraam.org</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>2. Federation of Reproductive Health Associations Malaysia (FRHAM)
                                        </Strong><br>
                                        Hotline: +603-5633 7514 / 7516 / 7528<br>
                                        Website: <a href="https://www.frham.org.my/" target="_blank">frham.org.my</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>3. Talian Kasih Hotline </Strong><br>
                                        Hotline: 15999<br>
                                        Website: <a
                                            href="https://www.kpwkm.gov.my/kpwkm/index.php?r=portal/full&id=NGtVYXZIMjRqM3diWmV2K005Mm9Hdz09"
                                            target="_blank">kpwkm.gov.my</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>4. MIASA Crisis Helpline </Strong><br>
                                        Hotline: 1-1800-18-0066<br>
                                        Website: <a
                                            href="https://miasa.org.my/"
                                            target="_blank">miasa.org.my</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>5. Pertubuhan Kebajikan Sneham (Sneham Welfare Organisation Malaysia) Malaysia </Strong><br>
                                        Hotline:  1-800-22-5757 <br>
                                        Website: <a
                                            href="https://www.facebook.com/snehammalaysia/"
                                            target="_blank">Facebook</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>6. Malaysian Mental Health Association (MMHA)</Strong><br>
                                        Hotline: +603-27806803/+6017-6133039<br>
                                        Website: <a
                                            href="https://mmha.org.my/"
                                            target="_blank">mmha.org.my</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="text-align: center;">State Health Centres</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Penang Family Health Development Association (Penang
                                                    FHDA)</strong></p>
                                            <p>333 Jalan Perak, 11600 George Town</p>
                                            <p>T: 04-282 5191 / E: <a
                                                    href="mailto:info@frhapenang.org">info@frhapenang.org</a></p>
                                            <p>Tue - Sat 8.00 am - 6.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Kedah Family Health Association (Kedah FHA)</strong>
                                            </p>
                                            <p>2 Jalan Kampong Baru, 05000 Alor Setar.</p>
                                            <p>T: 04-732 1280 / E: <a
                                                    href="mailto:kedahfpa@yahoo.com">kedahfpa@yahoo.com</a>
                                            </p>
                                            <p>Thu - Sun 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Perlis Family Planning Association (Perlis
                                                    FPA)</strong></p>
                                            <p>140 Persiaran Jubli Emas, 01000 Kangar.</p>
                                            <p>T: 04-976 0739 / E: <a
                                                    href="mailto:c.kimeng@yahoo.com">c.kimeng@yahoo.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Family Planning Association Terengganu (FPA
                                                    Terengganu)</strong>
                                            </p>
                                            <p>12 G, Jalan Engku Pengiran Anom 2, 20300 Kuala Terengganu.
                                            </p>
                                            <p>T: 09-622 1763 / E: <a
                                                    href="mailto:fpatrg@gmail.com">fpatrg@gmail.com</a></p>
                                            <p>Sun - Thu 8.30 am - 4.30 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Reproductive Health Association Pahang (RHA
                                                    Pahang)</strong></p>
                                            <p>B-1582, Jalan Beserah, 25300 Kuantan.</p>
                                            <p>T: 09-566 6403 / E: <a
                                                    href="mailto:rha.phg@gmail.com">rha.phg@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.30 am - 4.30 pm<br /> Saturday 8.30 am - 1.00 pm
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Reproductive Health Association of Kelantan
                                                    (ReHAK)</strong></p>
                                            <p>4261-F, Jalan Kebun Sultan, 15350 Kota Bahru.</p>
                                            <p>T: 09-748 (3323/2407) / E: <a
                                                    href="mailto:rehakelantan@gmail.com">rehakelantan@gmail.com</a>
                                            </p>
                                            <p>Monday &amp; Wednesday 8.30 am - 6.00 pm<br /> Tuesday 8.30
                                                am - 5.00
                                                pm<br /> Thursday 8.30 am - 1.00 pm<br /> Saturday &amp;
                                                Sunday 8.30 am
                                                - 4.30 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Perak Family Health Association (Perak FHA)</strong>
                                            </p>
                                            <p>58 A &amp; 60A Regat Sri Cempaka, Taman Cempaka, 31400 Ipoh.
                                            </p>
                                            <p>T: 05-547 7849 / 016-526 (4233/5233/8233) / E: <a
                                                    href="mailto:pfhaperak@gmail.com">pfhaperak@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Selangor and Federal Territory Family Reproductive
                                                    Health
                                                    Association (FREHA)</strong></p>
                                            <p>No 2b, Lorong Syed Putra Kiri P.O. Box 10710, 50722 Kuala
                                                Lumpur.</p>
                                            <p>T: 03-2274 3489 / E: <a
                                                    href="mailto:swpfreha@gmail.com">swpfreha@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Negeri Sembilan Family Planning Association
                                                    (NSFPA)</strong></p>
                                            <p>3, Jalan Dr Krishnan, 70000 Seremban.</p>
                                            <p>T: 06-762 2969 / 06-763 5778<br /> E: <a
                                                    href="mailto:nsfpa29@yahoo.com">nsfpa29@yahoo.com</a>
                                            </p>
                                            <p>Mon - Fri 8.30 am - 4.30 pm<br /> Saturday 8.30 am - 2.30 pm
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Reproductive Health Association Melaka (RHA
                                                    Melaka)</strong></p>
                                            <p>2A-3, 1st Floor, Dewan Hang Tuah, Jalan Hang Tuah, Melaka</p>
                                            <p>T: 06-284 4475 / E: <a
                                                    href="mailto:rhamelaka@gmail.com">rhamelaka@gmail.com</a>
                                            </p>
                                            <p>Tue - Sat 8.30 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Johor Family Health Association (Johor FHA)</strong>
                                            </p>
                                            <p>10-A Jalan Abiad Satu Taman Pelangi, 80400 Johor Bahru</p>
                                            <p>T: 07-333 7772 / E: <a
                                                    href="mailto:johorfha@gmail.com">johorfha@gmail.com</a>
                                            </p>
                                            <p>Mon - Thu 8.30 am - 4.30 pm<br /> Saturday: 8.30 am - 4.30 pm
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Sarawak Family Planning Association (Sarawak
                                                    FPA)</strong></p>
                                            <p>Jalan P Ramlee P.O. Box 788, 93716 Kuching</p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Sabah Family Planning Association (Sabah
                                                    FPA)</strong></p>
                                            <p>Council of Management, 613 Jalan Family Planning Centre, off
                                                Jalan
                                                Kebajikan 88000 Kota Kinabalu, Sabah</p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd)
                                                Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am - 12.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Bangunan SEDCO, W.D.T Kudat, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd)
                                                Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am - 12.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jamalai Shophouse, Jalan Bunga Raya, Bandar Singgamata,
                                                    Lahad Datu,
                                                    Sabah.</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd)
                                                Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am - 12.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Fajar Commercial Complex, Jalan Merdeka, Tawau,
                                                    Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd)
                                                Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am - 12.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Pengalan Shopping Complex, Keningau, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd)
                                                Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am - 12.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Sinsuran Complex, Kota Kinabalu, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd)
                                                Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am - 12.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Council, Pekan Sri Aman, Sri Aman, Sarawak</span>
                                            </p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Masjid Lama, Pekan Sarikei, Sarikei,
                                                    Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Teo Kui Ngo Road, Bintangor, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Kampung Datu, Sibu, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Kidurong, Bintulu, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Merbau, Miri, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Wong Tsap En, Limbang, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a>
                                            </p>
                                            <p>Mon - Fri 8.00 am - 5.00 pm</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %} {% endblock javascripts %}