{% extends "layouts/base.html" %}

{% block title %} Helpline {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.dsm_image_hotspots .dsm_image_hotspots_child_25.dsm_image_hotspots_child {
    left: 73%;
    top: 55%;
}

.dsm_image_hotspots_child {
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    border-radius: 50px;
    cursor: pointer;
    z-index: 2;
}

</style>


{% endblock stylesheets %}

{% block content %}



<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title" style="text-align: center;">Helpline and Support</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <tbody>
                                <tr>
                                    <td>
                                        <Strong>1. Reproductive Rights Advocacy Alliance Malaysia (RRAAM)</Strong><br>
                                        Hotline: +6012-477-2551<br>
                                        Website: <a href="https://www.rraam.org/" target="_blank">rraam.org</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>2. Federation of Reproductive Health Associations Malaysia (FRHAM)
                                        </Strong><br>
                                        Hotline: +603-5633 7514 / 7516 / 7528<br>
                                        Website: <a href="https://www.frham.org.my/" target="_blank">frham.org.my</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <Strong>2. Talian Kasih Hotline </Strong><br>
                                        Hotline: 15999<br>
                                        Website: <a
                                            href="https://www.kpwkm.gov.my/kpwkm/index.php?r=portal/full&id=NGtVYXZIMjRqM3diWmV2K005Mm9Hdz09"
                                            target="_blank">kpwkm.gov.my</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="et_pb_text_inner">
                <p>The details contact of the <strong><span class="pa-color-highlight-2">State Health
                            Centres</span></strong> are as below:</p>
            </div>

        </div>
        <div class="et_pb_row et_pb_row_3">
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">


                <div
                    class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                    <div class="et_pb_blurb_content">
                        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                    class="et-waypoint et_pb_animation_top et-pb-icon et-pb-icon-circle">&#xe081;</span></span>
                        </div>
                        <div class="et_pb_blurb_container">

                            <div class="et_pb_blurb_description">
                                <p>Main centres</p>
                            </div>
                        </div>
                    </div>
                    < </div>
                </div>
                <div
                    class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">


                    <div
                        class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">


                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span
                                        class="et-waypoint et_pb_animation_top et-pb-icon et-pb-icon-circle">&#xe081;</span></span>
                            </div>
                            <div class="et_pb_blurb_container">

                                <div class="et_pb_blurb_description">
                                    <p>Sub centres</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- .et_pb_row -->
            <div class="et_pb_row et_pb_row_4">
                <div
                    class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
                    <div class="et_pb_module dsm_image_hotspots dsm_image_hotspots_0">
                        <div class="et_pb_module_inner">
                            <div class="dsm_image_hotspots_wrap" data-dsm-hotspot="dsm_image_hotspots_0"
                                data-tippy-delay="[50, 1000]" data-tippy-trigger="mouseenter focus">
                                <div class="dsm_image_hotspots_img_wrap"><img decoding="async"
                                        src="https://www.frham.org.my/wp-content/uploads/2021/04/map-yellow.png" alt=""
                                        title="map-yellow"
                                        srcset="https://www.frham.org.my/wp-content/uploads/2021/04/map-yellow.png 3209w, https://www.frham.org.my/wp-content/uploads/2021/04/map-yellow-1280x529.png 1280w, https://www.frham.org.my/wp-content/uploads/2021/04/map-yellow-980x405.png 980w, https://www.frham.org.my/wp-content/uploads/2021/04/map-yellow-480x198.png 480w"
                                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 3209px, 100vw" />
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_0">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="top" data-slug="dsm_image_hotspots_child_0"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Penang Family Health Development Association (Penang
                                                    FHDA)</strong></p>
                                            <p>333 Jalan Perak, 11600 George Town</p>
                                            <p>T: 04-282 5191 / E: <a
                                                    href="mailto:info@frhapenang.org">info@frhapenang.org</a></p>
                                            <p>Tue - Sat 8.00 am - 6.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_1">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_1"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Kedah Family Health Association (Kedah FHA)</strong></p>
                                            <p>2 Jalan Kampong Baru, 05000 Alor Setar.</p>
                                            <p>T: 04-732 1280 / E: <a
                                                    href="mailto:kedahfpa@yahoo.com">kedahfpa@yahoo.com</a></p>
                                            <p>Thu - Sun 8.00 am - 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_2">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="top" data-slug="dsm_image_hotspots_child_2"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Perlis Family Planning Association (Perlis FPA)</strong></p>
                                            <p>140 Persiaran Jubli Emas, 01000 Kangar.</p>
                                            <p>T: 04-976 0739 / E: <a
                                                    href="mailto:c.kimeng@yahoo.com">c.kimeng@yahoo.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_3">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="top" data-slug="dsm_image_hotspots_child_3"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Family Planning Association Terengganu (FPA Terengganu)</strong>
                                            </p>
                                            <p>12 G, Jalan Engku Pengiran Anom 2, 20300 Kuala Terengganu.</p>
                                            <p>T: 09-622 1763 / E: <a
                                                    href="mailto:fpatrg@gmail.com">fpatrg@gmail.com</a></p>
                                            <p>Sun - Thu 8.30 am - 4.30 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_4">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="top" data-slug="dsm_image_hotspots_child_4"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Reproductive Health Association Pahang (RHA Pahang)</strong></p>
                                            <p>B-1582, Jalan Beserah, 25300 Kuantan.</p>
                                            <p>T: 09-566 6403 / E: <a
                                                    href="mailto:rha.phg@gmail.com">rha.phg@gmail.com</a></p>
                                            <p>Mon - Fri 8.30 am - 4.30 pm<br /> Saturday 8.30 am - 1.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_5">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="top" data-slug="dsm_image_hotspots_child_5"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Reproductive Health Association of Kelantan (ReHAK)</strong></p>
                                            <p>4261-F, Jalan Kebun Sultan, 15350 Kota Bahru.</p>
                                            <p>T: 09-748 (3323/2407) / E: <a
                                                    href="mailto:rehakelantan@gmail.com">rehakelantan@gmail.com</a></p>
                                            <p>Monday &amp; Wednesday 8.30 am – 6.00 pm<br /> Tuesday 8.30 am – 5.00
                                                pm<br /> Thursday 8.30 am – 1.00 pm<br /> Saturday &amp; Sunday 8.30 am
                                                – 4.30 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_6">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="top" data-slug="dsm_image_hotspots_child_6"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Perak Family Health Association (Perak FHA)</strong></p>
                                            <p>58 A &amp; 60A Regat Sri Cempaka, Taman Cempaka, 31400 Ipoh.</p>
                                            <p>T: 05-547 7849 / 016-526 (4233/5233/8233) / E: <a
                                                    href="mailto:pfhaperak@gmail.com">pfhaperak@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_7">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="left" data-slug="dsm_image_hotspots_child_7"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Selangor and Federal Territory Family Reproductive Health
                                                    Association (FREHA)</strong></p>
                                            <p>No 2b, Lorong Syed Putra Kiri P.O. Box 10710, 50722 Kuala Lumpur.</p>
                                            <p>T: 03-2274 3489 / E: <a
                                                    href="mailto:swpfreha@gmail.com">swpfreha@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_8">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_8"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Negeri Sembilan Family Planning Association (NSFPA)</strong></p>
                                            <p>3, Jalan Dr Krishnan, 70000 Seremban.</p>
                                            <p>T: 06-762 2969 / 06-763 5778<br /> E: <a
                                                    href="mailto:nsfpa29@yahoo.com">nsfpa29@yahoo.com</a></p>
                                            <p>Mon – Fri 8.30 am – 4.30 pm<br /> Saturday 8.30 am – 2.30 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_9">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_9"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Reproductive Health Association Melaka (RHA Melaka)</strong></p>
                                            <p>2A-3, 1st Floor, Dewan Hang Tuah, Jalan Hang Tuah, Melaka</p>
                                            <p>T: 06-284 4475 / E: <a
                                                    href="mailto:rhamelaka@gmail.com">rhamelaka@gmail.com</a></p>
                                            <p>Tue – Sat 8.30 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_10">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_10"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Johor Family Health Association (Johor FHA)</strong></p>
                                            <p>10-A Jalan Abiad Satu Taman Pelangi, 80400 Johor Bahru</p>
                                            <p>T: 07-333 7772 / E: <a
                                                    href="mailto:johorfha@gmail.com">johorfha@gmail.com</a></p>
                                            <p>Mon – Thu 8.30 am – 4.30 pm<br /> Saturday: 8.30 am – 4.30 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_11">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="left" data-slug="dsm_image_hotspots_child_11"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Sarawak Family Planning Association (Sarawak FPA)</strong></p>
                                            <p>Jalan P Ramlee P.O. Box 788, 93716 Kuching</p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_12">




                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_12"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><strong>Sabah Family Planning Association (Sabah FPA)</strong></p>
                                            <p>Council of Management, 613 Jalan Family Planning Centre, off Jalan
                                                Kebajikan 88000 Kota Kinabalu, Sabah</p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_13">




                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_13"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Bangunan SEDCO, W.D.T Kudat, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_14">




                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_14"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Third Avenue, Sandakan, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_15">

                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_15"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jamalai Shophouse, Jalan Bunga Raya, Bandar Singgamata, Lahad Datu,
                                                    Sabah.</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_16">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_16"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Fajar Commercial Complex, Jalan Merdeka, Tawau, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon - Fri 8.00 am - 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_17">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_17"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Pengalan Shopping Complex, Keningau, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_18">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_18"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Sinsuran Complex, Kota Kinabalu, Sabah</span></p>
                                            <p>T: 088-245 209 / E: <a
                                                    href="mailto:hqsfpa@gmail.com">hqsfpa@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 4.30 pm<br /> Saturday (1st and 3rd) Closed<br />
                                                Saturday (2nd &amp; 4th) 8.00 am – 12.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_19">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_19"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Council, Pekan Sri Aman, Sri Aman, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_20">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_20"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Masjid Lama, Pekan Sarikei, Sarikei, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_21">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_21"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Teo Kui Ngo Road, Bintangor, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_22">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_22"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Kampung Datu, Sibu, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_23">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_23"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Kidurong, Bintulu, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_24">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_24"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Merbau, Miri, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsm_image_hotspots_child dsm_image_hotspots_child_25">
                                    <div class="dsm_image_hotspots_wrapper" data-tippy-arrow="true"
                                        data-tippy-placement="bottom" data-slug="dsm_image_hotspots_child_25"><span
                                            class="dsm_image_hotspots_icon et-pb-icon"><span>&#xe081;</span></span>
                                    </div>
                                    <div class="dsm_image_hotspot_tooltip et_pb_bg_layout_dark">
                                        <div class="dsm_image_tooltip_content">
                                            <p><span>Jalan Wong Tsap En, Limbang, Sarawak</span></p>
                                            <p>T: 082-426 982 / E: <a
                                                    href="mailto:sfpaswk@gmail.com">sfpaswk@gmail.com</a></p>
                                            <p>Mon – Fri 8.00 am – 5.00 pm</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}